<%= index_display_header %>


<% if @experiences.blank? %>

    <h2>No experiences yet. Write a experience <%= link_to "here", new_experience_path%></h2>

<% else %>
  <%= render partial: "experiences", locals: {experiences: @experiences} %>

<% end %>