<ul>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category.name, category_path(category) %>
      <ol>
        <% category.experiences.each do  |experience| %>
          <li><%= link_to experience.title, experience_path(experience)  %></li>
        <% end  %>
      </ol>
    </li>
  <% end %>
</ul>